.header{
		&--about{
			background-image: url('../img/about_service--fon.jpg'); 
		}
		&_block{
			display: flex;
			align-items: center;
			justify-content: center;	
			height: calc(100vh - 48px);
			flex-direction: column;

				&_line{
					display: block;
					width: 52px;
					height: 2px;
					background-color: #fff;
					margin: 0 auto;
					margin-bottom: 15px;

				}
				&_subtitle{
  					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					color: #fff;
					font-weight: 700;
					text-align: center;
					margin-bottom: 40px;
				}
		}
}